* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overscroll-behavior: none;
    font-family: ivypresto-headline;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none; 
}
body::-moz-scrollbar {
    display: none; 
}

header {
    display:none;
}

p {
    font-size: 45px;
    font-weight: 100;
    width: 75vw;
    position: relative;
    left: 7vw;
    color: #6e6e6e;
}

#a1 svg{
    animation: ballfloat 3s ease-in-out 0s infinite normal forwards;
}

#accueil {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

#accueil h1 {
    position: absolute;
    font-style:normal;
    color: black;
    font-weight: 700;
    font-size: 1vw;
    margin: 0;
}

/* ACCUEILGAUCHE */

#a1 {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
}

#logo {
    display: flex;;
    justify-content: center;
    align-items: center;
}

#logo h2 {
    font-style: italic;
    color: #e35042;
    font-weight: 350;
    font-size: 5em;
    position: absolute;
    top: 70%;
    left: calc(0% + 15px);
}

#logo h2:nth-child(2) {
    position: absolute;
    color: black;
    font-style: normal;
    font-weight: 500;
    left: unset;
    right: calc(0% + 15px);
    top: 77.5%;
}

/* ACCUEILDROITE */

#a2 {
    display:none;
}

   /* À PROPOS */

   #aP {
    position: absolute;
    left: 0vw;
    top: 100vh;
    height: 200vh;
    width: 100vw;
    background-color: #e35042;
}

/* APROPOSGAUCHE */

#aP1 {
        position: absolute;
        left: 0vw;
        top: 0vh;
        width: 100%;
        height:75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center ;
    }

    .secTitle {
        top: 5%;
        left: 5%;
        font-size: 1.5em;
        color: white;
        position: absolute;
    }

#aP1 #sec1 {
    width: 50%;
    height: 100%;
    left: 25%;
}

/* APROPOSDROITE */

#aP2 {
    position:absolute;
    left: 0%;
    top: 50%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

#aP2 h2 {
    font-weight: 700;
    width: 90%;
    color: white;
    font-size: 4em;
    left:5%;
    top: 5%;
    position:absolute;
}

#aP2 h2 span {
    font-style: italic;
}

#aP2 p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    width: 90%;
    color: white;
    font-size: 1.2em;
    line-height: calc(1.2em * 1.5);
    left:5%;
    top: 20%;
}

#reseaux {
    width: 75%;
    height: 10%;
    display: flex;
    position: absolute;
    top: 85%;
    left: 12.5%;
    justify-content: space-between;
}

#reseaux img {
    width: 60%;
}

#reseaux a {
    text-decoration:none;
    color:white;
    font-size: 3em;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* DEV */

#projet {
    position: absolute;
    left: 0vw;
    top: 300vh;
    height: 200vh;
    width: 100vw;
    background: white;

}

/* DEV GAUCHE */

#d1 {
    position : absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#d2 {
    position : absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
}

#d2 .secTitle {
    left: 5%;
    color: #e35042;
}

#d2 button {
    background:none;
    border:none;
    font-size: 3em;
    transition : 1.4s;
    font-weight: 500;
    font-style: italic;
    position:relative;
    left: 10%;
    color:black;
}

#d2 button span {
    font-weight: 200;
    font-style: normal;
    color: black;
}

#d2 button:hover span {
    color: black;
}

#d2 button:hover {
    color: #e35042;
    transition : 0.3s;
}

#d2 .divider {
    width: 90%;
    height: 1px;
    background: #e35042;
    position:relative;
    left: 5%;
}

#d1 .secTitle {
    color: #e35042;
}

#cyb {
    position: absolute;
    left: 0;
    top: 500vh;
    height: 200vh;
    width: 100vw;
    background: #e35042;
}

#cs1 {
    position: absolute;
    left: 0;
    top: 0vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#cs1 .secTitle {
    color:black;
}

#cs {
    position: absolute;
    left: 0%;
    top: 50%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
}

#cs .secTitle {
    color:black;
    left: 5%;

}

#cs button {
    background:none;
    border:none;
    font-size: 3em;
    transition : 1s;
    font-weight: 500;
    font-style: italic;
    color:black;
    position:relative;
    left: 5%;
}

#cs button span {
    font-weight: 200;
    font-style: normal;
    color: black;
    transition : 1s;
}

#cs button:hover span {
    color: black;
    transition : 0.3s;
}

#cs button:hover {
    color: white;
    transition : 0.3s;
}

button.magic-hover:nth-child(6) {
    text-align: left;
    }

#cs .divider {
    width: 90%;
    height: 1px;
    background: black;
    position:relative;
    left: 5%;
}

/* PROJETS ONCLICK */
.prespro {
    position:absolute;
    top: 30%;
    left: 2.5%;
    width: 95%;
    height: 25%;
    background: white;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prespro video {
    width:90%;
}

.prespro img {
    height: 100%;
    padding: 5px;
}

.close {
    position:absolute;
    top: 7.5%;
    left: 45vw;
    width: 10vw;
}

.justification {
    position: absolute;
    width: 85%;
    height: 80%;
    right: 7.5%;
    top: 12%;
    background: #e35042;
    color:white;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.justification h2 {
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
    position: absolute; 
    top: 5%;
    right: 10%;
    width: 80%;
    text-align:center;
}

.justification p {
    position:absolute;
    left: 12.5%;
    width: 75%;
    height: 52%;
    top: 55%;
    color:#F5F5F5;
    font-size: 1em;
    line-height: calc(1em * 1.5);
    font-weight: 600;
    font-family: neue-haas-grotesk-display;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4em;
}

.justification a {
    font-family: neue-haas-grotesk-display;
    font-weight: 600;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    margin-top: 2vh;
    z-index: 1;
    background: white;
    padding: 10px;
}

#portfolio,
#eclothing,
#thm,
#lasource,
#keylogger {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background: #F5F5F5;
}

.prespro img {
    height: 100%;
}

/* Desktops and laptops ----------- */

@media only screen 
and (min-width : 1224px) {

* {
    cursor: none;
}

#slider-ext {
    position: fixed;
    top: 0%;
    left:0%;
    width:100%;
    height:100%;
    overflow:hidden;
}

#slider {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:800vw;
    display: flex;
    will-change: transform;
    background-color: white;
}

.slider-section {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 100vw;
}

.section-inner {
    display: flex;
    position: relative;
    left: 0;
    top:   0;
    width: 95%;
    height: 95%;
    background-size: cover;
    background-position: center;
}



/* SIDEBAR */

    header {
        justify-content: center;
        align-items: center;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        display: block;
        z-index: 100;
    }

    nav {
        width: 3vw;
        height: 100vh;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 0.5s ease;
        z-index: 101;
        background: white;
        opacity: 1;
    }

    nav p,
    nav a {
        font-family: montserrat;
        font-weight: 300;
        font-size: 15px;
        color:black;
        text-decoration: none;
        padding-top: 5vh;
        padding-bottom: 5vh;
        margin: 0;
        transform: rotate(90deg);
        width: auto; 
        position: auto; 
        left: auto;
    }

    nav p:visited,
    nav a:visited {
        color:black;
        text-decoration: none;
    }

    nav p:hover,
    nav a:hover {
        color: #e35042;
        transition: 0.3s ease;
    }

    #sidebar.scroll {
       background-color: #e35042;
       transition:  0.5s ease;
    }

    #sidebar.scroll p,
    #sidebar.scroll a{
        color : white;
        transition:  0.5s ease;
        text-decoration: none;
     }

     #sidebar.scroll p:hover,
     #sidebar.scroll a:hover{
        color : black;
        transition:  0.3s ease;
     }

     #sidebar.scroll1 {
        background-color: #e35042;
        color:black;
     }

     #sidebar.scroll1 p,
     #sidebar.scroll1 a {
        transition: .3s ease;
     }

     #sidebar.scroll1 p:hover,
     #sidebar.scroll1 a:hover{
        color:white;
        transition: .3s ease;
     }
/* ACCUEIL */

    #accueil {
        display: flex;
        position: absolute;
        left: 0vw;
        top: 0vh;
        height: 100vh;
        width: 100vw;
        align-items: center;
    }

    #accueil h1 {
        position: absolute;
        font-style:normal;
        color: black;
        font-weight: 700;
        font-size: 7vw;
        margin: 0;
    }

/* ACCUEILGAUCHE */

    #a1 {
        position: absolute;
        left: 0vw;
        top: 0vh;
        width: 50vw;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center ;
    }

    #logo {
        display: flex;;
        justify-content: center;
        align-items: center;
    }

    #logo h2 {
        font-style: italic;
        color: #e35042;
        font-weight: 350;
        font-size: 5em;
        position: absolute;
        top: 70%;
        width: auto;
        height: auto;
        left: 15%;
    }

    #logo h2:nth-child(2) {
        color: black;
        font-style: normal;
        font-weight: 500;
        left: unset;
        top: 75%;
        right: 30%;
    }

/* ACCUEILDROITE */

    #a2 {
        position:absolute;
        left: 50%;
        top: 0vh;
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    #aLiens {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #aLiens h1 {
        height: 20%;
        left: 10%;
        top: 40%;
        position: relative;
        font-weight: 400;
        font-size: 8em;
        transition: 1.5s;
    }

    #aLiens h1:hover {
        text-decoration: none;
        color: #e35042;
        transition: 0.2s ease-in-out;
    }
    
    #aLiens a {
        text-decoration: none;
    }


    #aLiens h1 span:hover {
        text-decoration: none;
        color: black;
    }
    
    #aLiens h1:hover span {
        color: black;
    }

    #aLiens h1 span {
        top: 0vh;
        font-size: 5rem;
        left: auto;
        font-style: italic;
        font-weight: 290;
        color: black;
    }

    #aCs h1 {
        font-style: italic;
    }

    #aCs h1 span {
        font-style: normal;
    }

    #aCo h1 {
        font-style: italic;
    }

    /* À PROPOS */

    #aP {
        position: absolute;
        left: 100vw;
        top: 0vh;
        height: 100vh;
        width: 100vw;
        background-color: #e35042;
    }

    /* APROPOSGAUCHE */

    #aP1 {
            position: absolute;
            left: 0vw;
            top: 0vh;
            width: 50%;
            height:100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center ;
        }

    #aP1 #sec1 {
        width: 50%;
        height: 100%;
        left: 25%;
    }

    /* APROPOSDROITE */

    #aP2 {
        position:absolute;
        left: 50%;
        top: 0;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    #aP2 h2 {

        font-weight: 700;
        width: 75%;
        color: white;
        font-size: 4em;
        left:12.5%;
        top: 5%;
        position:absolute;
    }

    #aP2 h2 span {
        font-style: italic;
    }

    #aP2 p {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-weight: 600;
        width: 75%;
        font-size: 1.3em;
        left:12.5%;
        top: 20%;
    }
    #reseaux {
    width: 50%;
    height: 20%;
    top: 75%;
    left: 25%;
    }

    #reseaux a {
        width: 20%;
    }

    #reseaux img {
        width: 100%;
    }


    /* DEVELOPPEMENT */

    #projet {
        position: absolute;
        left: 200vw;
        top: 0vh;
        height: 100vh;
        width: 100vw;
        background: white;
    }

    #cyb {
        position: absolute;
        left: 300vw;
        top: 0vh;
        height: 100vh;
        width: 100vw;
        background: #e35042;
    }

    /* DEV GAUCHE */

    #d1 {
        position : absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #projet .secTitle {
        color: #e35042;
    }

    #d2 .secTitle {
        left:0;
    }

    /* DEV DROITE */

    #d2 {
        position : absolute;
        left: 50%;
        top: 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:flex-start;
    }

    #d2 button {
        background:none;
        border:none;
        font-size: 3em;
        transition : 1.4s;
        font-weight: 500;
        font-style: italic;
        position: none;
        left: auto;
    }

    #d2 button span {
        font-weight: 200;
        font-style: normal;
        color: black;
    }

    #d2 button:hover span {
        color: black;
    }

    #d2 button:hover {
        color: #e35042;
        transition : 0.3s;
    }

    #d2 .divider {
        width: 80%;
        height: 1px;
        background: #e35042;
        position: none;
        left: auto;
    }

    #dev {
        width: 100%;
        height:100%;
    }

    #cs1 {
        position: absolute;
        left: 0;
        top: 0vh;
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    #cs1 .secTitle {
        color:black;
    }

    #cs {
        position: absolute;
        left: 50%;
        top: 0vh;
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:flex-start;
    }

    #cs .secTitle {
        color:black;
        left: 5%;
    }

    #cs button {
        background:none;
        border:none;
        font-size: 3em;
        transition : 1s;
        font-weight: 500;
        font-style: italic;
        color:black;
        position:relative;
    }

    #cs button span {
        font-weight: 200;
        font-style: normal;
        color: black;
        transition : 1s;
    }

    #cs button:hover span {
        color: black;
        transition : 0.3s;
    }

    #cs button:hover {
        color: white;
        transition : 0.3s;
    }

    #cs .divider {
        width: 80%;
        height: 1px;
        background: black;
        position:relative;
    }

#thm,
#lasource,
#eclothing,
#keylogger,
#portfolio
 {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
}

.close {
    position:absolute;
    top: 2%;
    left: 2vh;
    width: 4vw;
}

.prespro {
    position:absolute;
    top: 15%;
    left: 3%;
    width: 62%;
    height: 70%;
    background: white;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prespro video {
    width: 96%;
}

.prespro img {
    max-height: 90%;
}

.justification {
    position: absolute;
    width: 40%;
    height: 88%;
    right: 2%;
    top: 6%;
    background: #e35042;
    color:white;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.justification h2 {
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
    position: absolute; 
    top: 2%;
    right: 10%;
    width: auto;
    text-align:left;
}

.justification p {
    position:absolute;
    left: 20%;
    top: auto;
    width: 75%;
    color:#F5F5F5;
    font-size: 1em;
    font-weight: 600;
    font-family: neue-haas-grotesk-display;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.justification a {
    font-family: neue-haas-grotesk-display;

    font-weight: 600;
    font-size: 3vmin;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    margin-top: 2vh;
    z-index: 1;
    background: none;
    padding: 0;
}


.justification a:before {
    content: '';
    position: absolute;
    display: flex;
    bottom: 0;
    left: -2.5px;
    height: 1px;
    width: 0;
    background: #F5F5F5;
    z-index: -1;
    transition: .3s;
}

.justification a:hover:before {
    width: calc(100% + 5px);
  }

  #sidebar.magic-hover ::after {
      transform: rotate(-30deg);
  }
}

/* ANIMATIONS */

@keyframes myAnim {
    0% {
      opacity: 0;
      transform: rotateX(70deg);
      transform-origin: top;
    }
  
    100% {
      opacity: 1;
      transform: rotateX(0deg);
      transform-origin: top;
    }
  }

  @keyframes myAnim1 {
    0% {
      opacity: 0;
      transform: rotateX(70deg);
      transform-origin: top;
    }
  
    100% {
      opacity: 1;
      transform: rotateX(0deg);
      transform-origin: top;
    }
  }

@keyframes ballfloat {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
      }
  }
