* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overscroll-behavior: none;
    font-family: ivypresto-headline;
}

body {
}

body::-webkit-scrollbar {
    display: none;
}

#slider-ext {
    position: fixed;
    top: 0%;
    left:0%;
    width:100%;
    height:100%;
    overflow:hidden;
}

#slider {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:10000px;
    display: flex;
    will-change: transform;
    background-color: white;
}

.slider-section {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 100vw;
}

.section-img {
    display: flex;
    position: relative;
    left: 0;
    top:   0;
    width: 95%;
    height: 95%;
    background-size: cover;
    background-position: center;
}


header {
    display:none;
}

p {
    font-size: 45px;
    font-weight: 100;
    width: 75vw;
    position: relative;
    left: 7vw;
    color: #6e6e6e;
}

svg:nth-child(3) {
    display:block;
}

#a1 svg{
    animation: ballfloat 3s ease-in-out 0s infinite normal forwards;
}

#accueil > svg:nth-child(2) > path:nth-child(2) {
    display: none;
   }
   

@keyframes ballfloat {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
      }
  }


#accueil {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accueil h1 {
    font-size: 140px;
    font-weight:300;
    font-style:italic;
    color: #dd3737;
    position: relative;
    left: -98px;
    top: 70px;
    margin-bottom: 12vh;
}

#accueil h1 span{
    font-size: 140px;
    font-weight:500;
    font-style: normal;
    color: black;
    position: relative;
    top: 80px;
    left: -118px;
    z-index: -1;
}

#accueil h1:nth-child(4) {
    font-size: 80px;
    font-weight:600;
    font-style: italic;
    color: black;
    top: 12vh;
    left: 140px;
}

#accueil > h1:nth-child(4) > span:nth-child(1)  {
    color: #dd3737;
    font-size: 80px;
    font-weight: 600;
    font-style: italic;
    top: 0px;
    left: 0px;
}

#ellipse {
    animation: none;
    top: 90px;
        left: 27px;
    position: absolute;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3vw;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        display: block;
        z-index: 100;
    }

    nav {
        height: 100vh;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
        z-index: 101;
    }

    nav a {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 15px;
        color:black;
        text-decoration: none;
        padding-top: 5vh;
        padding-bottom: 5vh;
        margin: 0;
        transform: rotate(90deg);
    }

    nav a :visited {
        color:black;
        text-decoration: none;
    }

    nav a:hover {
        color: #dd3737;
        transition: 0.3s;
    }

    #accueil {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
    }

    #accueil h1 {
        position: absolute;
        font-style:normal;
        color: black;
        font-weight: 700;
        font-size: 7vw;
        margin: 0;
    }

    #a1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 50vw;
        height:100vh;
        border-right: solid 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center ;
    }

    #a2 {
        position:absolute;
        left: 50%;
        top: 0;
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    #aLiens {
        width: 55%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #aLiens h1 {
        height: 20%;
        left: 10%;
        position: relative;
        font-weight: 400;
        font-size: 8em;
    }

    #aLiens a {
        text-decoration: none;
    }

    #aLiens h1 span {
        top: 0;
        font-size: 5rem;
        left: auto;
        font-style: italic;
        font-weight: 290;
    }

    #aCs h1 {
        font-style: italic;
    }

    #aCs h1 span {
        font-style: normal;
    }

    #aCo h1 {
        font-style: italic;
    }


    #logo {
        display: flex;;
        justify-content: center;
        align-items: center;
    }

    #logo h2 {
        font-style: italic;
        color: #e35042;
        font-weight: 350;
        font-size: 5em;
        position: absolute;
        top: 70%;
        width: auto;
        height: 20%;
        left: 15%;
    }

    #logo h2:nth-child(2) {
        color: black;
        font-style: normal;
        font-weight: 500;
        left: 29.5%;
        top: 75%;
    }



    @keyframes ballfloat {
        0% {
          transform: translateY(0);
        }
      
        50% {
          transform: translateY(-15px);
        }
    
        100% {
            transform: translateY(0px);
          }
      }

}